body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 3fr 2fr;
    text-align: center;
}

.nametag {
    border: 1px solid black;
    border-radius: 16px;
    display: grid;
    grid-template-rows: auto 2fr 1fr;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
}

.hello-my-name-is {
    background-color: red;
    color: white;
    border-radius: 15px 15px 0px 0px;
    font-family:'Times New Roman', Times, serif;
    font-style: bold;
}

.my-name {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: cursive;
    font-style: bold;
}

.empty-bottom {
    background-color: red;
    color: white;
    border-radius: 0px 0px 15px 15px;
}
